[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=TeamViewer
Comment=TeamViewer Remote Control Application
Exec=teamviewer
Icon=teamviewer.png
Type=Application
#Categories=Network;
Categories=Network;RemoteAccess;

