[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Обновить TeamViewer
Comment=Обновить TeamViewer Remote Control Application
Exec=teamviewerupdate
Icon=teamviewer.png
Type=Application
Categories=System;
#Categories=RemoteAccess;

